.spanScroll {
    animation: spanAnimation 2s ease 0s 80 normal forwards;
}

@keyframes spanAnimation {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0.2;
	}

	100% {
		opacity: 1;
	}
}

/* Cambia el ancho y el color de fondo de la barra de desplazamiento */
::-webkit-scrollbar {
    width: 13px;
    background-color: #F5F5F5;
  }
  
  /* Cambia el estilo del botón de arrastre (thumb) */
  ::-webkit-scrollbar-thumb {
    background-color: #626262;
    border-radius: 5px;
  }
  
  /* Cambia el estilo del botón de arrastre cuando se sitúa sobre él */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #4B4E5B;
  }
  
  /* Cambia el estilo de la pista (track) */
  ::-webkit-scrollbar-track {
    background-color: #F5F5F5;
    border-radius: 5px;
    box-shadow: inset 0 0 5px grey;
  }
  
  /* hud sections portafoly*/ 
  .hud {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 300px;
    height: 60px;
    border-radius: 30px;
    padding: 10px;
    z-index: 9999;
    margin-bottom: 0px;
  }
  
  .icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 10px;
    transition: transform 0.3s;
  }
  
  .icon:hover {
    transform: translateY(-10px);
  }
  
  .icon i {
    font-size: 20px;
    color: #333;
  }
  
  .name {
    display: none;
    position: absolute;
    bottom: -35px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    font-size: 12px;
    margin-top: 5px; /* Agregamos un margen superior */
  }
  
  .icon:hover .name {
    display: block;
  }
  
  /* sidebar social links */
  /* En tu archivo CSS */
.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.sidebar {
  display: block;
  position: fixed;
  top: 236px;
  right: -1px;
  width: 78px;
  height: 40%;
  background-color: #0a0909;
}

.social-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  margin-top: 50px;
  list-style: none;
}

.social-links li {
  margin-bottom: 20px;
}

.social-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #fff;
  font-size: 24px;
  transition: all 0.3s ease-in-out;
}

.social-links a:hover {
  transform: scale(1.2);
}
